<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uhomed.router.model.MethodParam">

    <resultMap type="com.uhomed.router.model.MethodParam" id="MethodParamResultMap">
        <id property="id" column="ID"/>
        <result property="methodId" column="METHOD_ID"/>
        <result property="paramCode" column="PARAM_CODE"/>
        <result property="paramName" column="PARAM_NAME"/>
        <result property="paramType" column="PARAM_TYPE"/>
        <result property="clazz" column="CLAZZ"/>
        <result property="paramIndex" column="PARAM_INDEX"/>
        <result property="paramRequire" column="PARAM_REQUIRE"/>
        <result property="length" column="LENGTH"/>
        <result property="defaultValue" column="DEFAULT_VALUE"/>
        <result property="paramDesc" column="PARAM_DESC"/>
        <result property="minLength" column="MIN_LENGTH"/>
        <result property="resource" column="RESOURCE"/>
    </resultMap>

    <sql id="MethodParam_common_condition">
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="methodId != null">
                AND a.METHOD_ID = #{methodId}
            </if>
        </trim>
    </sql>
    <sql id="MethodParam_common_group">
        <trim prefix="GROUP BY" prefixOverrides=",">
        </trim>
    </sql>

    <select id="query" resultMap="MethodParamResultMap">
        SELECT * FROM `METHOD_PARAM` a
        <include refid="MethodParam_common_condition"/>
        <include refid="MethodParam_common_group"/>
        ORDER BY a.PARAM_INDEX ASC
    </select>

    <select id="count" resultType="int">
        SELECT COUNT(1) FROM `METHOD_PARAM` a
        <include refid="MethodParam_common_condition"/>
        <include refid="MethodParam_common_group"/>
    </select>

    <select id="query_id" resultMap="MethodParamResultMap">
		SELECT * FROM
		`METHOD_PARAM` a WHERE a.ID =
		#{id}
	</select>

    <insert id="add" parameterType="com.uhomed.router.model.MethodParam" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO `METHOD_PARAM` (`METHOD_ID`,`PARAM_CODE`,`PARAM_NAME`,`PARAM_TYPE`,`PARAM_INDEX`,`PARAM_REQUIRE`,`LENGTH`,`DEFAULT_VALUE`,`PARAM_DESC`,`MIN_LENGTH`,`RESOURCE`,`CLAZZ`) VALUES (#{methodId},#{paramCode},#{paramName},#{paramType},#{paramIndex},#{paramRequire},#{length},#{defaultValue},#{paramDesc},#{minLength},#{resource},#{clazz})
	</insert>

    <delete id="delete" parameterType="com.uhomed.router.model.MethodParam">
        DELETE FROM `METHOD_PARAM`
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="id != null">
                AND ID = #{id}
            </if>
            <if test="methodId != null">
                AND METHOD_ID = #{methodId}
            </if>
        </trim>
    </delete>

    <update id="update" parameterType="com.uhomed.router.model.MethodParam">
        UPDATE `METHOD_PARAM`
        <trim prefix="SET" suffixOverrides=",">
            <if test="methodId != null">
                `METHOD_ID` = #{methodId},
            </if>
            <if test="paramCode != null">
                `PARAM_CODE` = #{paramCode},
            </if>
            <if test="paramName != null">
                `PARAM_NAME` = #{paramName},
            </if>
            <if test="paramType != null">
                `PARAM_TYPE` = #{paramType},
            </if>
            <if test="paramRequire != null">
                `PARAM_REQUIRE` = #{paramRequire},
            </if>
            <if test="paramIndex != null">
                `PARAM_INDEX` = #{paramIndex},
            </if>
            <if test="length != null">
                `LENGTH` = #{length},
            </if>
            <if test="defaultValue != null">
                `DEFAULT_VALUE` = #{defaultValue},
            </if>
            <if test="paramDesc != null">
                `PARAM_DESC` = #{paramDesc},
            </if>
            <if test="minLength != null">
                `MIN_LENGTH` = #{minLength},
            </if>
            <if test="resource != null">
                `RESOURCE` = #{resource},
            </if>
            <if test="clazz != null">
                `CLAZZ` = #{clazz},
            </if>
        </trim>
        WHERE ID = #{id}
    </update>

</mapper>