<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:task="http://www.springframework.org/schema/task"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.1.xsd
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
        http://www.springframework.org/schema/task 
        http://www.springframework.org/schema/task/spring-task-3.0.xsd
        ">

	<!-- 配置线程池 -->
	<bean id="threadPoolTaskExecutor"
		class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<!-- 线程池维护线程的最少数量 -->
		<property name="corePoolSize" value="50" />
		<!-- 线程池维护线程所允许的空闲时间 -->
		<property name="keepAliveSeconds" value="30000" />
		<!-- 线程池维护线程的最大数量 -->
		<property name="maxPoolSize" value="1000" />
		<!-- 线程池所使用的缓冲队列 -->
		<property name="queueCapacity" value="200" />
	</bean>

	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value><!-- antx.properties 配置 --></value>
			</list>
		</property>
	</bean>

	<context:annotation-config />

	<!-- 告诉velocity模板位置 -->
	<bean id="velocityConfigurer"
		class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
		<property name="resourceLoaderPath">
			<value>WEB-INF/template</value>
		</property>
		<property name="configLocation" value="classpath:config/deploy/velocity.properties" />
	</bean>


	<!-- spring bean handler -->
	<bean id="beanUtils" class="com.uhomed.router.core.utils.spring.BeanUtils" />

	<!-- 配置spring 的 email服务 -->
	<bean id="sender" class="org.springframework.mail.javamail.JavaMailSenderImpl"
		p:host="${email.from.host}" p:username="${email.from.username}"
		p:password="${email.from.password}">
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">true</prop>
			</props>
		</property>
	</bean>

	<!-- 发送email处理程序 -->
	<bean id="mailHandler" class="com.uhomed.router.core.email.handler.MailHandler">
		<property name="sender" ref="sender" />
		<property name="velocityConfigurer" ref="velocityConfigurer" />
		<property name="fromUserName" value="${email.from.username}" />
	</bean>
	<!-- 异步邮件 -->
	<bean id="sendEmailAsync" class="com.uhomed.router.core.email.SendEmailAsync">
		<property name="mailHandler" ref="mailHandler" />
		<property name="threadPoolTaskExecutor" ref="threadPoolTaskExecutor" />
	</bean>

</beans>